*{
	padding: 0;
	margin: 0;
	font-size: 1rem;
}

body{
	background-color: white;
}

/*menu*/

.menu{
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #f9d70b;
	font-family: Ubuntu, Sans-serif;
}

.menu a{
	text-decoration: none;
	color: #f20505;
}

.menu ul li{

	display: inline-block;
	padding: 15px 15px;
	margin: 5px;
	position: relative;
	font-size: 15px;
	float: left;
}

.menu ul li:hover{
	background-color: black;
	transition: 0.10;
	border-radius: 10px;
}

/*footer*/
footer{
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	text-align: center;
	padding: 30px;
}

.copyright p{
	color: white;
}

